<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <title>Burgers</title>


      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
      <link rel="stylesheet" href="assets/css/style.css" media="screen" title="no title">

        <style>
      @import url('https://fonts.googleapis.com/css?family=Archivo+Narrow|Pacifico');
      </style>

  </head>
  <body>

      <div class="container">
      {{{ body }}}
      <div>
  </body>
</html>
