h1{
  font-family: 'Pacifico', cursive;
  text-align: center;
}

h2{

  font-family: 'Pacifico', cursive;

}

body, li{
  color: blue;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 25px;
  list-style: none;

}

img{
  height: 250px;
  display: block;
  margin: 0 auto;
}
